//! **************************************************************************
// Written by: Map I.24 on Wed Nov 25 14:21:31 2020
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "P74" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "P76" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "P77" LEVEL 1;
COMP "clk" LOCATE = SITE "P52" LEVEL 1;
COMP "dout<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "dout<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "dout<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "dout<3>" LOCATE = SITE "P141" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
